
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.colr{
	background: #162850;
	color: white;
}
.stylish-input-group1 .input-group-addon{
    background: #fbfbfb !important; 
}
.stylish-input-group1 .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.colortextwhite{
	color: white;
}
.colorfooter{
	background-color: #162850;
}
.colortextfooter{
	color: #b0b0b0;
	font: size: 10px;
}